.table {
  table-layout: fixed;
  overflow: scroll;
  border-collapse: collapse;
  width: 100%;
}
.thead tr {
  border-bottom: 1px solid var(--color2);
}
.thead th {
  font-weight: bold;
  color: var(--color2);
}
.tbody {
  /* border-collapse: collapse; */
}

.tbody tr:hover {
  background-color: var(--color1);
  filter: brightness(1.07);
}
.tbody [data-type='date'] {
  text-align: center;
}
