.container {
  display: flex;
  flex-direction: row;
}

.main {
  width: calc(100vw - 80px);
  height: 100vh;
  overflow-y: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageTop {
  position: fixed;
  right: 10px;
  bottom: 30px;
  z-index: 3;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  overflow: auto;
  gap: 1rem;
}
