.loadingWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingWrapper > div {
  position: absolute;

  display: block;
  width: 256px;
  height: 256px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.loadingIcon {
  background-image: url('/images/app-logo-body.svg');
  animation: blink 3s linear infinite;
}

.effectIcon {
  background-image: url('/images/app-logo-ring.svg');
  animation: rotating 4s ease-in-out infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg) scale(1.3);
    opacity: 1;
  }
  50% {
    transform: rotate(180deg) scale(1.3);
    /* opacity: 0; */
  }
  to {
    opacity: 1;
    transform: rotate(360deg) scale(1.3);
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  55% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
