.menuButton {
  position: relative;
  width: 80px;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-basis: 80px;
  margin: 4vh 0;
  padding: 0;
  color: var(--color1);
  line-height: 1.6;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
}

.menuButton .bar {
  display: block;
  width: 30%;
  height: 1.5px;
  position: absolute;
  background: var(--color1);
  transform-origin: 0% 50%;
  transition: 0.3s;
}
.menuButton .bar:nth-child(1) {
  top: 0px;
}
.menuButton .bar:nth-child(2) {
  top: 10px;
}
.menuButton .bar:nth-child(3) {
  top: 20px;
}

.closeButton .bar:nth-child(1) {
  top: 3px;
  transform: rotate(45deg);
}
.closeButton .bar:nth-child(2) {
  opacity: 0;
}
.closeButton .bar:nth-child(3) {
  top: 20px;
  transform: rotate(-45deg);
}
