.selectPanel {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.multiSelectButton {
  display: flex;
  border-radius: 3px;
  overflow: hidden;
  border: 1px solid var(--color-light-gray);
  width: 480px;
  margin: 16px 0 8px;
  height: 56px;
}

.multiSelectButton * {
  box-sizing: border-box;
}

.multiSelectButton div {
  position: relative;
  flex: 1;
}

.multiSelectButton input {
  width: 100%;
  height: 100%;
  opacity: 0;
  margin: 0;
}

.multiSelectButton label {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--color-dark-gray);
  width: 100%;
  height: 100%;
  background: var(--color1);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  border-right: 1px solid var(--color-light-gray);
}

.multiSelectButton div:last-child label {
  border-right: 0;
}

.multiSelectButton input:checked + label {
  background: var(--color3);
  font-weight: 500;
  color: var(--color-white);
}

.multiSelectButton input:hover {
  cursor: pointer;
}
.multiSelectButton input:hover + label {
  background: var(--color3);
  font-weight: 500;
  color: var(--color-white);
  cursor: pointer;
}
