.sideMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 80px;
  height: 100vh;
  overflow-x: hidden;
  z-index: 5;
  color: var(--color1);
  text-align: center;
  background: var(--color3);
}

.logo {
  position: relative;
  margin: 30px 0 0 0;
  cursor: pointer;
}
.logo:hover {
  filter: sepia(60%);
  transition: 1s;
}
.logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
}
.logo::after {
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 3px;
  width: calc(100% - 6px);
  height: 1px;
  content: '';
  background-image: repeating-linear-gradient(to right, currentcolor 0 2px, transparent 2px 8px);
}

.signOut {
  position: relative;
  cursor: pointer;
  height: 60px;
}
.signOut [class^='icon-'] {
  font-size: 25px;
}
.signOut [class^='icon-']:hover {
  color: var(--color4);
  transition: 1s;
}
.signOut [class^='icon-']::after {
  color: var(--color1);
  position: absolute;
  top: -40px;
  bottom: 0;
  left: 3px;
  width: calc(100% - 6px);
  height: 1px;
  content: '';
  background-image: repeating-linear-gradient(to right, currentcolor 0 2px, transparent 2px 8px);
}

.menuOverlay {
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 80px;
  background: #444;
  cursor: default;
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
  height: 100%;
  transition: 1s;
  opacity: 1;
}
.menuOverlayClose {
  height: 0px;
  transition: 1s;
  opacity: 0;
}

.leftBlock,
.rightBlock {
  padding: 50px 30px;
  position: relative;
}
.leftBlock {
  margin-right: 30px;
}
.leftBlock::after {
  content: '';
  position: absolute;
  right: 0;
  width: 1px;
  top: 60px;
  height: 85%;
  background-color: var(--color4);
}
.rightBlock {
  overflow-y: scroll;
}
.rightBlock::-webkit-scrollbar {
  width: 0px;
}
